:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000000(255, 255, 255, 0.87);
  background-color: #ffffff;
}

/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/
